
  </section>

  <footer class="flex flex-col items-center justify-center mt-20 bottom-0 left-0 z-20 w-full p-4 bg-white md:p-6 text-center">
      <ul class="flex flex-wrap items-center justify-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li class="mx-2 md:mx-3">
              <a href="/about" class="hover:underline">About</a>
          </li>
      </ul>
      <span class="text-sm text-gray-500 dark:text-gray-400 mt-3">© <a href="/" class="underline">{{ my app}}</a>. All Rights Reserved.</span>
  </footer>

  <script src="/js/app.js" id="text/javascript" defer></script>
  <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>

</body>
</html>
